<<<<<<< Updated upstream
* {
    margin: 0;
    padding: 0;
}
    .nav {
        background-color: #000043;
        height: 100px;
        display: flex;
        align-items: center;
    }
    .nav-right-items {
        margin-left: auto;
        display: flex;
    }

    .nav-item {
        color: #fff;
        margin-right: 30px;
        margin-left: 10px;
    }

    .nav-item a {
        display: flex;
        color: #fff;
        text-decoration-line: none;
    }

    .name img {
        margin-left: 30px;
        width: 30%
    }


.main-img {
    position:fixed;
    width: 100%;
    height: 2094%;
    overflow: hidden;
=======
* {
    margin: 0;
    padding: 0;
}
    .nav {
        background-color: #000043;
        height: 100px;
        display: flex;
        align-items: center;
    }
    .nav-right-items {
        margin-left: auto;
        display: flex;
    }

    .nav-item {
        color: #fff;
        margin-right: 30px;
        margin-left: 10px;
    }

    .nav-item a {
        display: flex;
        color: #fff;
        text-decoration-line: none;
    }

    .name img {
        margin-left: 30px;
        width: 30%
    }


.main-img {
    position:fixed;
    width: 100%;
    height: 2094%;
    overflow: hidden;
>>>>>>> Stashed changes
}